{% extends "pizzas/base.html" %}

{% block content %}
<p style="text-align:center;"></p><img src="https://i.pinimg.com/originals/44/c0/49/44c0495d9bda8309fcfa207b6e848776.png" alt="Pizza"></p>


<p style="color:red;text-align:center;font-size:160%;font-family:verdana;"> Welcome to the pizzeria! </p>

<p style="color:#95e8f3;text-align:center;font-size:160%;font-family:verdana;"> Voted best pizza in the world! </p>

<p style="color:red;text-align:center;font-size:160%;font-family:verdana;"> Buy one large pizza get one 50% off </p>


{% endblock content %}